﻿@using MyIdentityManual.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>
@{Html.BeginForm(); }
<div class="form-group">
    @Html.LabelFor(m => m.OldPassword)
    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
</div>
<div>
    <input type="submit" name="Submit" value="Login" class="btn btn-success" />
</div>
@{Html.EndForm();}
