﻿
@{
    ViewBag.Title = "CheckRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckRole</h2>

@ViewBag.IsCheckRole
@foreach (var item in (IEnumerable<string>)ViewBag.Roles)
{
    <li>@item</li>
}
@ViewBag.Name - @ViewBag.Check
