﻿@model MyIdentityManual.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>

@{Html.BeginForm(); }
<div class="form-group">
<div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
</div>
<div>
    <input type="submit" name="Submit" value="Send" class="btn btn-success" />
</div>
@{Html.EndForm();}