﻿@model MyIdentityManual.Models.MyUser

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info</h2>
<h2>@if (ViewBag.Msg != null)
{
    @ViewBag.Msg;
}</h2>
<li>@Model.UserName</li>
<li>@Model.Email</li>
@Html.ActionLink("Change your password", "ChangePassword")

