﻿@model MyIdentityManual.Models.MyUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@{Html.BeginForm(); }
<div class="form-group">
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PasswordHash)
    @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control" })
</div>
<div>
    <input type="submit" name="Submit" value="Login" class="btn btn-success" />
</div>
@{Html.EndForm();}

<p>
    @Html.ActionLink("Forgot your password?", "ForgotPassword")
</p>

