﻿@model MyIdentityManual.Models.MyUser
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
@{Html.BeginForm(); }
<div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PasswordHash)
    @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control" })
</div>
<div>
    <input type="submit" name="Submit" value="Save" class="btn btn-info"/>
</div>
@{Html.EndForm();}
