﻿@model MyIdentityManual.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ResetPassword</h2>
@*cho nay k nhat thiet phai chi ro aciton, controller va method cung duoc*@
@{Html.BeginForm("ResetPassword", "Home", FormMethod.Post); }
<div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Code)
    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
</div>
<div>
    <input type="submit" name="Submit" value="Login" class="btn btn-success" />
</div>
@{Html.EndForm();}

