﻿
@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ResetPasswordConfirmation</h2>
<p>
    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>

